*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

header{
    background-color: rgb(224, 224, 224);
    width: 100vw;
    height: 10vh;
    box-shadow: 1px 1px 15px black;
    margin-bottom: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header a{
    text-decoration:none;
    color: rgb(114, 114, 114);    
}

header a:hover{
    color: black;
    font-size: 1.04rem;
    transition-duration: .7s;
}

input[type="submit"]{
    width: 7vw;
    height: 3vh;
    font-weight: bold;
}

#edit_delet{
    display: none;
}