*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}
/*-----------------------------------------------------------*/
header{
    background-color: rgb(224, 224, 224);
    width: 100vw;
    height: 10vh;
    box-shadow: 1px 1px 15px black;
    display: flex;
    justify-content: end;
    align-items: center;
}

header a{
    text-decoration:none;
    color: rgb(114, 114, 114);    
    margin-right: 50px;    
}

header a:hover{
    color: black;
    font-size: 1.04rem;
    transition-duration: .7s;
}

input[type="submit"], input[type="button"]{
    width: 9vw;
    height: 4vh;
    font-weight: bold;
}

input{
    margin: 3px;
}

#container{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#edit_delet, #sim_nao{
    display: none;
}

